
//*  Typography

@font-face
  font-family: $founders
  src: url('../fonts/FoundersGroteskHeading_Semibold.eot')
  src: url('../fonts/FoundersGroteskHeading_Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGroteskHeading_Semibold.woff') format('woff'), url('../fonts/FoundersGroteskHeading_Semibold.ttf') format('truetype'), url('../fonts/FoundersGroteskHeading_Semibold.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: $founders-text
  src: url('../fonts/FoundersGroteskText_Regular.eot')
  src: url('../fonts/FoundersGroteskText_Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGroteskText_Regular.woff') format('woff'), url('../fonts/FoundersGroteskText_Regular.ttf') format('truetype'), url('../fonts/FoundersGroteskText_Regular.svg') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: $founders-text
  src: url('../fonts/FoundersGroteskText_Regular_Italic.eot')
  src: url('../fonts/FoundersGroteskText_Regular_Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGroteskText_Regular_Italic.woff') format('woff'), url('../fonts/FoundersGroteskText_Regular_Italic.ttf') format('truetype'), url('../fonts/FoundersGroteskText_Regular_Italic.svg') format('svg')
  font-weight: normal
  font-style: italic

@font-face
  font-family: $founders-text
  src: url('../fonts/FoundersGroteskText_Semibold.eot')
  src: url('../fonts/FoundersGroteskText_Semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/FoundersGroteskText_Semibold.woff') format('woff'), url('../fonts/FoundersGroteskText_Semibold.ttf') format('truetype'), url('../fonts/FoundersGroteskText_Semibold.svg') format('svg')
  font-weight: bold
  font-style: normal

//******************

//*   Media


//********************************

//*  Styleguide

//*******************************/

body
  padding: .875rem
  @media #{$small-only}
    padding: 0

p
  padding-left: .15rem
  padding-right: .875rem
  max-width: 40rem

  a
    color: $monsoon
    &:hover
      color: $steel
      border-bottom: 1px solid $primary-color
      &:active
        color: $secondary-color
        border-bottom: 1px solid $monsoon

  @media #{$small-only}
    font-size: 18px


h1
  font-family: $ff-alt
  color: $primary-color
  line-height: .9em
  max-width: 60rem
  margin-top: 0

  a
    color: $secondary-color
    &:hover
      color: $monsoon
      &:active
        color: $steel

h2
  font-family: $ff-alt
  line-height: 1.1em
  max-width: 50rem
  padding-bottom: .875rem
  padding-left: .1rem
  margin-top: 0

  a
    color: $secondary-color
    &:hover
      color: $monsoon
      &:active
        color: $steel


  
h3
  font-family: $ff-primary
  font-weight: bold
  line-height: 1.2em
  padding-right: 1.75rem
  max-width: 40rem
  padding-left: .1rem
  margin-top: 0

  a
    color: $secondary-color
    &:hover
      color: $monsoon
      &:active
        color: $steel


h4
  font-family: $ff-primary
  font-weight: bold
  text-transform: uppercase
  padding-left: .15rem
  margin-top: 0


h5
  max-width: 620px
  font-style: italic
  padding-left: .15rem
  margin-top: 0
  
  a
    color: $monsoon
    &:hover
      color: $steel
      border-bottom: 1px solid $primary-color
      &:active
        color: $secondary-color
        border-bottom: 1px solid $monsoon



// Banner

.full-bg
  background-image: url("../images/fullbg.jpg")
  background-size: cover
  background-repeat: no-repeat

.logo
  padding-top: .875rem
  padding-bottom: 1.75rem

  @media #{$small-only}
    max-width: 66px

.menu
  padding-top: .875rem
  padding-right: .875rem

.big-menu-links
  a
    color: $secondary-color
    &:hover
      color: $secondary-color
      border-bottom: 4px solid $primary-color
      &:active
        color: $steel
        border-bottom: 4px solid $steel


// Content Types

.small-padding
  padding-bottom: .875rem

.medium-padding
  padding-bottom: 1.75rem

.large-padding
  padding-bottom: 3.5rem

.xl-padding
  padding-bottom: 7rem


.caption-img
  position: relative
  z-index: -100

.caption-small
  font-size: 1rem
  padding-left: .4rem
  padding-top: .125rem
  margin-top: -1.75rem
  background-color: #ffffff
  opacity: .4
  padding-right: 1rem
  padding-bottom: 1rem
  opacity: .6
  float: right


.project-img
  position: relative
  padding-bottom: 1.75rem
  z-index: -100

.caption-large
  position: absolute
  margin-top: -5rem
  padding-right: 1.25rem
  padding-bottom: 1rem
  padding-top: .6rem
  background-color: $white

  @media #{$small-only}
    margin-top: -4.5rem
    padding-right: 1rem
    padding-bottom: .75rem
    padding-top: .5rem
    

.note-teaser
  border-top: 2px solid $gainsboro
  padding-top: .875rem
  margin-bottom: 1.75rem

.all-teaser
  border-top: 2px solid $gainsboro
  padding-top: .874rem
  margin-bottom: 1.75rem

.menu-teaser
  border-top: 2px solid $iron
  padding-top: .875rem
  margin-bottom: 1.75rem

.navigation
  background-color: $gainsboro

.nav-teaser
  border-top: 2px solid $tuatara
  padding-top: .875rem
  margin-bottom: 1.75rem
  a
    color: $secondary-color

.custom-list
  list-style-type: none


.footer
  margin-bottom: .875rem
  margin-top: 3.5rem

.wordmark
  @media #{$small-only}
    font-size: 36px

.tagline
  @media #{$small-only}
    font-size: 27px


.social-net
  a
    color: $base
    &:hover
      color: $monsoon
      border-bottom: none
      &:active
        color: $secondary-color
        border-bottom: none

.quote
  margin-top: .875rem
  max-width: 36rem

.quote-mark
  color: $secondary-color

.transparent-logo
  opacity: .2
  a
    &:hover
      opacity: 1




.uva
  color: #d56e31
  a
    color: $secondary-color
    &:hover
      color: #d56e31

.tacoma
  color: #4f8eba





// Headers



// Dropdowns



// Colors


